# Python
__pycache__/
*.py[cod]

# PyInstaller
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Variables y secretos
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp
~$*
.DS_Store
Thumbs.db